* {
    padding: 0.625rem;
    margin: 0;
    box-sizing: border-box;
}

.main {
    border: 2px solid rgb(18, 16, 16);
    border-radius: 1rem;
    width: 16rem;
    margin: 0 auto;
    margin-top: 30px;
    /* background-color: rgb(32, 241, 241); */
    background-image: linear-gradient(to bottom, #29374b, #2a5b77, #0b839f, #00adbc, #00d8cd);
}

.result {
    width: 100%;
    /* background-color: rgb(65, 60, 60); */
    background-image: linear-gradient(to left bottom, #2c2e30, #44484a, #5d6364, #787f80, #959d9c);
    color: white;
    height: 13vh;
    font-weight: bold;
    font-size: .9rem;
}

.clearBtn {
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    background-color: rgb(29, 25, 25);
    color: whitesmoke;
    width: 23.5%;
}

.btn {
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    background-color: rgb(29, 25, 25);
    color: whitesmoke;
    width: 23.5%;
}
.lastBtn {
    cursor: pointer;
    font-size: .9rem;
    font-weight: bold;
    background-color: rgb(29, 25, 25);
    color: whitesmoke;
    width: 23.5%;
}